<div class="select-dropdown-container dropdown">
  <span (click)="toggleDropdown()">
    <ng-container *ngTemplateOutlet="toggleButtonRef">
    </ng-container>
  </span>
  <div class="select-dropdown dropdown-menu dropdown-menu-left"
    [class.show]="displayDropdown">
    <div class="select-dropdown-header">
      <span> {{ headerText }} </span>
      <span
        class=" pull-right pficon-close close-pointer"
        (click)="closeDropdown()"></span>
    </div>
    <ul class="select-dropdown-menu">
      <li class="item-li" *ngFor="let item of menuItems">
        <ng-container *ngTemplateOutlet="dropdownItem; context: item" >
        </ng-container>
      </li>
    </ul>
  </div>
</div>




<!-- <hr>
<ng-container *ngTemplateOutlet="eng; context: myContext"></ng-container>
<hr>
<ng-container *ngTemplateOutlet="svk; context: myContext"></ng-container>
<hr>

<ng-template #greet><span>Hello</span></ng-template>
<ng-template #eng let-name="myname"><span>Hello {{name}}!</span></ng-template>
<ng-template #svk let-person="localSk"><span>Ahoj {{person}}!</span></ng-template> -->
