@import "../../assets/stylesheets/_base";

.select-dropdown-container {
  .select-dropdown {
    top: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 300px;
    .select-dropdown-header {
      background-color: $color-pf-black-200;
      height: 30px;
      line-height: 26px;
      font-weight: bold;
      padding: 2px;
      padding-left: 5px;
      .close-pointer {
        cursor: pointer;
        line-height: 26px;
        margin-right: 4px;
      }
    }
    .select-dropdown-menu {
      list-style: none;
      padding-left: 0px;
      max-height: 240px;
      overflow: auto;
      li {
        padding: 2px;
        padding-left: 5px;
        height: 30px;
        line-height: 26px;
      }
      .item-li {
        cursor: pointer;
        position: relative;
        .tick {
          position: absolute;
          right: 6px;
          top: 10px;
        }
        &:hover {
          background-color: $color-pf-blue-400;
          color: $color-pf-white;
        }
        &.selected {
          background-color: $color-pf-blue-400;
          color: $color-pf-white;
        }
        .dynamic-item {
          height: 30px;
          width: 90%;
          overflow: hidden;
        }
      }
    }
  }
}
