<h1> This is the example </h1>
<div class="dropdown-example-container">
  <f8-select-dropdown
    #dropdown
    [toggleButtonRef]="toggleButtonRef"
    [dropdownItem]="dropdownItem"
    [headerText]="'This is header'"
    [menuItems]="labels">
    <ng-template #toggleButtonRef>
      <span class="clickable">
        [ Toggle ]
      </span>
    </ng-template>
    <ng-template #dropdownItem let-color="color" let-name="name">
      <div [ngStyle]="{'background-color': color}" class="palet"></div>
      <span>{{ name }}</span>
    </ng-template>
  </f8-select-dropdown>
</div>

