.dropdown-example-container {
  margin: 20px;
  .clickable {
    cursor: pointer;
  }
}

.palet {
  height: 15px;
  width: 15px;
  border: 1px solid;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
